/* 
 * Copyright I don't know
 */

@import 'Editor/_wickbrand.scss';

$color-picker-width: 240px;
// $color-picker-height: 300px;
 $color-picker-bar-height: 25px;

.wick-color-picker {
    background-color: $editor-primary;
    width: $color-picker-width;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Nunito Sans';
}

// Style color picker inputs like the inspector.
.wick-color-picker input {
    width: 100% !important;
    height: 100%;
    border-radius: 5px;
    background-color: $editor-text-input-background !important;
    border: none !important;
    border-radius: $interface-input-roundness;
    color: $editor-primary-property-text !important;
    box-shadow: none !important;
    padding: 2px !important;
    padding-left: 4px;
    font-size: 1rem !important;
}
.wick-color-picker label {
    color: $editor-primary-property-text !important;
    font-size: 14px !important;
    font-weight: bold;
    margin: 0;
}

.wick-color-picker span {
    padding-bottom: 0px !important;
    color: $editor-primary-property-text !important;
}

.wick-color-picker-header {
    height: $color-picker-bar-height;
    display: flex;
    align-items: stretch;
}